body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.productos {
    flex-basis: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.productos img {
    max-width: 70%;

}

.precio {
    font-weight: bold;
    color: #009688;
}

button {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796b;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}